@import "@workspace/ui/globals.css";
:root {
  /* Navet blå */
  --primary: oklch(0.3667 0.0606 264.93);
  --primary-light: oklch(0.9445 0.0206 274.04);
}

.dark {
  --primary-foreground: var(--color-slate-100);
  --primary: var(--color-gray-800);
  --background: oklch(0.2169 0 0);
}

@layer base {
  html {
    @apply bg-sidebar;
  }

  :root {
    --chart-1: oklch(0.646 0.222 41.116);
    --chart-2: oklch(0.6 0.118 184.704);
    --chart-3: oklch(0.398 0.07 227.392);
    --chart-4: oklch(0.828 0.189 84.429);
    --chart-5: oklch(0.769 0.188 70.08);
  }

  .dark {
    --chart-1: oklch(0.488 0.243 264.376);
    --chart-2: oklch(0.696 0.17 162.48);
    --chart-3: oklch(0.769 0.188 70.08);
    --chart-4: oklch(0.627 0.265 303.9);
    --chart-5: oklch(0.645 0.246 16.439);
  }
}

body,
html {
  background-color: var(--background);
}
