@import "@workspace/ui/globals.css";

:root {
    /* Navet blå */
    --primary: oklch(0.3667 0.0606 264.93);
    --primary-light: oklch(0.9445 0.0206 274.04);
}

.dark {
    --primary-foreground: oklch(0.97 0.01 255);
    --primary: oklch(0.3667 0.0606 264.93);
    --primary-light: oklch(0.9445 0.0206 274.04);
}
